{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <div class="container resume">
        <header>
          <div class="row middle-xs">
          <div class="avatar col-xs-12 col-sm-4">
            <h3><strong>{{ .Site.Params.author }}</strong></h3>
            <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
            {{ partial "social.html" . }}
          </div>
          <div class="summary col-xs-12 col-sm-8">
            <br />
            <p><strong>About me: </strong>{{ .Site.Data.resume.basics.summary | markdownify }}</p>
          </div>
        </header>
        <!-- <article class="col-sm-9"> -->
        <section>
          <header>Experience</header>
          <hr />
          <div class="resume-section">
          {{ range .Site.Data.resume.work }}
            <div class="resume-subsection">
              <h3>
                {{ if isset . "website" }}
                <a href="{{ .website }}" target="blank">{{ .company }}</a>
                {{ else }}
                {{ .company }}
                {{ end }}
              </h3>
              {{ with .summary }}<span>{{ . }}</span>{{ end }}
              {{ range .positions }}
                <div class="row">
                  <div class="col-xs-7"><h4>{{ .title }}</h4></div>
                  <div class="col-xs-5 right">{{ dateFormat "Jan 2006" .startDate }} — {{ dateFormat "Jan 2006" .endDate }}</div>
                </div>
                {{ with .highlights }}
                  <div>
                    <ul>
                      {{ range . }}
                        <li>{{ . | markdownify | chomp }}</li>
                      {{ end }}
                    </ul>
                  </div>
                {{ end }}
              {{ end }}
            </div>
          {{ end }}
          </div>
        </section>
        <section>
          <header>Professional Skills</header>
          <hr />
          <div class="resume-section">
          {{ range .Site.Data.resume.skills }}
          <div>
            <p><strong>{{ .name }}: </strong>{{ delimit .keywords ", " }}</p>
          </div>
          {{ end }}
          </div>
        </section>
        <section>
          <header>Education</header>
          <hr />
          <div class="resume-section">
          {{ range .Site.Data.resume.education }}
            <h3>{{ .institution }}</h3>
            {{ range .degrees }}
            <div class="row no-gutters">
              <div class="col-xs-9"><h4>{{ .studyType }} in {{ .area }}</h4><!--; GPA: {{ .gpa }}!--></div>
              <div class="col-xs-3 right">{{ dateFormat "January 2006" .endDate }}</div>
            </div>
            {{ end }}
            <br />
            <div>
              <p><strong>Relevant Coursework: </strong>
                {{ delimit .courses ", " }}
              </p>
            </div>
          </div>
          {{ end }}
        </section>
        <section>
          <header>Hobbies</header>
          <hr />
          <ul class="multi-column">
            {{ range .Site.Data.resume.interests }}
            <li>{{ . }}</li>
            {{ end }}
          </ul>
        </section>
        <section>
          <header>Publications</header>
          <hr />
          <div class="resume-section">
          {{ range .Site.Data.resume.publications }}
            <div class="resume-subsection">
            <h3 class="inline"><a href="{{ .website }}" target="blank">{{ .name }}</a></h3>
            <h4 class="inline">in {{ .publication }} {{ .releaseDate }}</h4>
            <br>
            <span>{{ .summary }}<span>
            </div>
          {{ end }}
          </div>
        </section>
        <!-- </article> -->
        <!-- </div> -->
    </div>
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
