<figure {{ with .Get "class" }}class="{{.}}"{{ end }}>
    <a href="{{ .Get "src" }}">
      <img src="{{ .Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}" {{ end }}width="100%"/>
    </a>
    {{ if or (.Get "title") (ge (len .Inner) 1) }}
    <figcaption>
      {{ if isset .Params "title" }}<h4>{{ .Get "title" }}</h4>{{ end }}
      {{ if ge (len .Inner) 1 }}<p>
        {{ .Inner }}
      </p>
      {{ end }}
    </figcaption>
    {{ end }}
</figure>
