{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <div class="container">
        <h3>Archive</h3>
          <div class="panel panel-default">
            <div class="panel-body">
              {{ range .Data.Pages.ByPublishDate }}
              <div class="row">
                <div class="col-xs-2 col-sm-2">
                  <h5>
                    {{ .Date.Format "1/2/06" }}
                  </h5>
                 </div>
                 <div class="col-xs-10 col-sm-8">
                   <h5>
                     <strong><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}  {{ if .GetParam "draft"}}DRAFT{{end}} </a></strong>
                   </h5>
                 </div>
                 <div class="hidden-xs col-sm-2">
                   <h5 style="text-align: right">{{ .ReadingTime }} mins</h5>
                 </div>
              </div>
                <div class="hidden-xs col-sm-offset-2">
                  <div class="box">
                    <h5>
                      {{ .Summary | markdownify }}
                      {{ if .Truncated }}
                      <a href="{{ .RelPermalink }}">Read More…</a>
                      {{ end }}
                    </h5>
                  </div>
              </div>
            {{ end }}
            </div>
          </div>
      </div>
    </div>
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
