{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <div class="container">
        <h3>Archive</h3>
          <div class="panel panel-default">
            <div class="panel-body">
              {{ range .Data.Pages.ByPublishDate }}
              <div class="row">
                <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                  <h5 style="text-align: right">
                    {{ .Date.Format "Jan 2" }}
                  </h5>
                 </div>
                 <div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
                   <h5 style="text-align: left">
                     <strong><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}  {{ if .GetParam "draft"}}DRAFT{{end}} </a></strong>
                   </h5>
                 </div>
                 <div class="hidden-xs col-sm-6 col-md-7 col-lg-7">
                   <h5 style="text-align: left">
                     {{ .Summary | markdownify }}
                     {{ if .Truncated }}
                     <a href="{{ .RelPermalink }}">Read More…</a>
                     {{ end }}
                   </h5>
                 </div>
              </div>
            {{ end }}
            </div>
          </div>
      </div>
    </div>
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
